import { Component } from '@angular/core';

/** The main application component. */
@Component({
  selector: '<%= selector %>',<% if(inlineTemplate) { %>
  template: `<% if (routing) {
     %><router-outlet></router-outlet><%
    } %>
  `,<% } else { %>
  templateUrl: './app.component.html',<% } if(inlineStyle) { %>
  styles: []<% } else { %>
  styleUrls: ['./app.component.<%= style %>']<% } %>
})
export class AppComponent {
  /** The application title */
  title = '<%= name %>';
}
